/* Contact Page*/


.contact {
    background: #0d1521;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .contact-us {
    font-size: 1.5rem;
    font-family:  'Verdana', sans-serif;
   
    color: white;
    width: 100%;
    height: 60vh;
    padding: 20px;
    }
  
    .toggle {
     
      display: none;
  
    }
  
  
    .slide{
      background-color: transparent;
      font-family:  'Verdana', sans-serif;
      padding: 10px;
      margin-bottom: 10px;
      color: white;
      cursor: pointer;
      scrollbar-highlight-color: none;
      border-radius: 5px;
      background-blend-mode: unset;
    }
  
  
  .spacer {
    padding: 20px;
  }
  
  .link {
    color: white;
    font-size: 2rem;
  }
  
  .link:active {
    color: black;
    font-size: 2rem;
  }
  
  
  
  /* media queries contact*/
  @media (max-width: 500px) {
  
    
  
  .contact {
     height: 100vh;
  width: 100vw;
  background: #0d1521;
    animation: none;
    }
  
    .slide{
      background-color: transparent;
      font-family:  'Verdana', sans-serif;
      padding: 10px;
      margin-bottom: 10px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      scrollbar-highlight-color: none;
      border-radius: 5px;
      background-blend-mode: unset;
    }
  
  
    .navbar {
      background: #0d1521;
      flex-direction: row;
      width: 100%;
    }
  
    .nave {
      display: block;
      font-size: 2rem;
      width: 20%;
     
    }
  
    .nave_single_link {
      display: flex;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1rem;
      transition: all 0.5s linear;
      }
    
  
    .side-icons {
      font-size: 1rem;
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      padding: 5px;
    } 
  
    .texi {
      font-family: 'La Belle Aurore', cursive;
     color: dimgrey;
      font-size: 1.5rem;
  
    }
    
  
    .hes::before {
      content: "Ad";
      font-size: 2rem;
      font-family: 'La Belle Aurore', cursive;
     color: dimgrey;
      display: inline;
    }
    
    
    .text {
      font-family: 'La Belle Aurore', cursive;
     color: grey;
      font-size: 2rem;
    }
    .tex {
      font-family: 'La Belle Aurore', cursive;
     color: dimgrey;
      font-size: 2rem;
    }
  
  
    .contact-us  h3{
      text-emphasis: wrap;
      font-size: 12px;
      font-family:  'Verdana', sans-serif;
      color:  white; 
     
    }
  
    .spacer {
  
      padding: 20px;
    }
  
  
  .link {
    color: white;
    font-size: 12px;
  }
  
    .foot {
      width: 100vw;
      background: rgb(9, 14, 14);
       font-size: 1rem;
       font-family: 'La Belle Aurore', cursive;
       padding: 4px ;
       color: beige;
       margin-bottom: auto;
     }
    
      
  
  }
  
  