/* Stories Route*/

.container2 {
    /*background: #0d1521;*/
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  
  }
  
  .tix {
    font-family: 'La Belle Aurore', cursive;
   color: dimgrey;
    font-size: 3rem;
    padding: 20px;
  }
  
  .tiex {
    font-family:  'Verdana', sans-serif;
   color: dimgrey;
    font-size: 1rem;
    padding: 8px;
    background: black;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  
  .center {
    font-size: 1.5rem;
    font-family:  'Verdana', sans-serif;
    color: beige; 
  }
  
  .container3 {
  
    height: 100vh;
   
  
  }
  
  .details {
  
    height: 100vh;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  
  }
  
  .story2 {
    height: 100vh;
    background: #0d1521;
    
  }
  
  /* AddStory*/
  .center2 {
    font-size: 1.5rem;
    font-family:  'Verdana', sans-serif;
    color: white; 
  
  }
  
  textarea {
    font-size: 1.5rem;
    color: #f0f8ff;
    font-family:  'Verdana', sans-serif;
    
  }
  
  .new-form, input {
    color: #f0f8ff;
    padding: 10px;
    
    font-size: 1rem;
    font-family:  'Verdana', sans-serif;
    
    }
  
  
  .title {
    padding-top: 40px;
  }
  
  .theme {
    cursor: pointer;
    padding: 5px;
    color: blanchedalmond;
    background: #0d1521;
    margin-top: 10px;
  
  }
  
  
  /*Add story media query*/
  
  @media (max-width: 500px) {
  
    .App {
      background-color: rgb(12, 26, 21);
      width: 100vw;
       
      }
  
    .center2 {
      font-size: 1rem;
      font-family:  'Verdana', sans-serif;
      color: white; 
    
    }
  
    .navbar {
      background: #0d1521;
      flex-direction: row;
      width: 100%;
    }
    
    .nave_single_link {
      display: flex;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1rem;
      transition: all 0.5s linear;
      }
  
    textarea, input {
      font-size: 1rem;
      color: #f0f8ff;
      font-family:  'Verdana', sans-serif;
      width: 80%;
      height: 60px;
      
    }
    
    .new-form {
      color: #f0f8ff;
      padding: 5px;
      
      font-size: 1rem;
      font-family:  'Verdana', sans-serif;
      
      }
    
      .tix {
        font-family: 'La Belle Aurore', cursive;
       color: dimgrey;
        font-size: 1rem;
        padding: 8px;
      }
  
  
      .hes {
        color: dimgray;
        font-family: 'La Belle Aurore', cursive;
        font-size: 1rem;
      }
      
      .hes::before {
        content: "Ad";
        font-size: 1.5  rem;
        font-family: 'La Belle Aurore', cursive;
      color: beige;
        display: inline;
      }
      
      .navbtn-line {
        width: 30px;
       height: 2px;
      background-color: grey;
      
      }
  
    
    .theme {
      cursor: pointer;
      padding: 3px;
      color: blanchedalmond;
      background: #0d1521;
      margin-top: 5pxpx;
    
    }
    
  }
  
  
  
  
  
  
  