

.App {
  text-align: center;
   background: #050201;
  background-position: top;
  color: #f0f8ff;
 
 }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

 
 
  
}

body {
  height: 100vh;
  background-image: url("./images/vac2.jpg");
    background-repeat: no-repeat;
 background-size: cover;
  text-align: center;
  background-color: black;
  background-position: top;


 
 
 
 
}
/*navbar*/
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  background: #0d1521;
  width: inherit;


}

.hes {
  color: dimgray;
  font-family: 'La Belle Aurore', cursive;
  font-size: 3rem;
}

.hes::before {
  content: "Ad";
  font-size: 3rem;
  font-family: 'La Belle Aurore', cursive;
color: beige;
  display: inline;
}


.navbtn {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 36px;
  margin-right: 1rem;
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.navbtn-line {
  width: 30px;
 height: 2px;
background-color: grey;

}

.navebtn {
  object-position: inherit;
}

.nave {
  display: block;
  text-align: center;
 
}

.nave {
  height: 60%;
  background: black;
  opacity: 0.8;
box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
position: fixed;
padding-top: 0;
top: 10%;
left: 0;
width: 20%;
max-width: 500px;
z-index: 200;
transform: translateX(-100);
transition: transform 2s linear;

}

.nave ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*.nave-open {
  transform: translateX(0);

}


.nave-show {
  width: 10%
}*/

.nave_single_link {
display: flex;
text-decoration: none;
text-transform: capitalize;
font-size: 1.5rem;
transition: all 0.5s linear;
}

.nave a {
 
  text-decoration: none;
 

}




.nave_single_link:hover{
  color: dimgray;
  transition: all 1s linear;
  
}

/* Icons*/
.side-icons {
  font-size: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
margin-top: 10px;
}
.icono {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;

}

.icons {
  padding-left: 2rem;
 
}

.side-icons :hover {
 color: grey;
  transition: all 0.5s elinear;
}

.texi {
  font-family: 'La Belle Aurore', cursive;
  color: dimgray;
  font-size: 2.5rem;
}



.foot {
  width: 100vw;
  background: rgb(9, 14, 14);
   font-size: 1rem;
   font-family: 'La Belle Aurore', cursive;
   padding: 4px ;
   color: beige;
   margin-bottom: auto;
 }

