

.App {
  text-align: center;
  background: black;
 
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 
  
}

body {
  
  text-align: center;
  
 
 
 
 
}
/*navbar*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: rgb(100, 103, 103);
  width: inherit;

}

.hes {
  color:crimson;
  font-family: 'La Belle Aurore', cursive;
  font-size: 3rem;
}

.hes::before {
  content: "Ad";
  font-size: 3rem;
  font-family: 'La Belle Aurore', cursive;
  color:yellowgreen;
  display: inline;
}


.navbtn {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 36px;
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.navbtn-line {
  width: 30px;
 height: 2px;
 background-color: yellowgreen;

}

.navebtn {
  object-position: inherit;
}

.nave {
  display: block;
 
}

.nave {
  height: 40%;
  background: black;
  opacity: 0.8;
box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
position: fixed;
padding-top: 0;
top: 10%;
left: 0;
width: 20%;
max-width: 400px;
z-index: 200;
transform: translateX(-100);
transition: transform 2s linear;

}

.nave ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.nave-open {
  transform: translateX(0);

}


.nave-show {
  width: 10rem; 
}

.nave_single_link {
display: flex;
text-decoration: none;
text-transform: capitalize;
font-size: 1.5rem;
transition: all 0.5s linear;
}

.nave a {
  color: crimson;
  text-decoration: none;

}




.nave_single_link:hover{
  color: yellowgreen;
  transition: all 1s linear;
  
}

/* Icons*/
.side-icons {
  font-size: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
margin-top: 10px;
}
.icono {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons {
  padding-left: 2rem;
}

.side-icons :hover {
  color: crimson;
  transition: all 0.5s elinear;
}

.texi {
  font-family: 'La Belle Aurore', cursive;
  color:rgb(39, 209, 16);
  font-size: 2.5rem;
}

/*Construction code of homepage*/

.cover {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

}

.text {
  font-family: 'La Belle Aurore', cursive;
  color:rgb(39, 209, 16);
  font-size: 6rem;
}

.tex {
  font-family: 'La Belle Aurore', cursive;
  color: silver;
  font-size: 4rem;
}

/* Cover  Animations*/

.cover {

  padding-bottom: 30px;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/namib2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
 animation: move 10s linear 10s infinite;
 -webkit-animation:move 10s linear 10s infinite ;
 -moz-animation:move 10s linear 10s infinite ;
 -ms-animation:move 10s linear 10s infinite ;
 -o-animation:move 10s linear 10s infinite ;
}

@keyframes move {

  0% {
    background-image: url("./images/ghana 7.jpg") ;
   transform: translate(0px,0px);
 }




  15% {
     background-image: url("./images/cam3.jpg") ;
    transform: translate(0px,0px);
  }

  30% {
    background-image: url("./images/va6.jpeg") ;
     transform: translate(0px,0px);
   }
   45% {
    background-image: url("./images/sud2.jpg") ;
     transform: translate(0px,0px);
   }
   55% {
  background-image: url("./images/ghana3.jpg");
  transform: translate(0px, 0px);
   }
    
  60% {
   background-image: url("./images/niga1.jpg") ;
    transform: translate(0px,0px);
  }

  70% {
    background-image: url("./images/va1.jpeg") ;
     transform: translate(0px,0px);
   }

  80% {
    background-image: url("./images/namib3.jpg") ;
     transform: translate(0px,0px);
   }
  
  100% {
    background-image: url("./images/egy5.jpg");
  transform: translate(0px,0px);
    
  }	
}






/* media queries home*/
@media (max-width: 500px) {
  .cover {

 margin-top:0;
  height: 100vh;
  width:100vw;
  background-image: url("./images/va4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: none;
  }

  .navbar {
    background: rgb(100, 103, 103);
    flex-direction: row;
  }

  .nave {
    display: block;
    font-size: 2rem;
    width: 40%;
  }
  

  .side-icons {
    font-size: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
  } 

  .texi {
    font-family: 'La Belle Aurore', cursive;
    color:rgb(39, 209, 16);
    font-size: 1.5rem;

  }
  

  .hes::before {
    content: "Ad";
    font-size: 2rem;
    font-family: 'La Belle Aurore', cursive;
    color:yellowgreen;
    display: inline;
  }
  
  
  .text {
    font-family: 'La Belle Aurore', cursive;
    color: crimson;
    font-size: 2rem;
  }
  .tex {
    font-family: 'La Belle Aurore', cursive;
    color:yellowgreen;
    font-size: 2rem;
  }


  .foot {
    width: 100vw;
    background: rgb(9, 14, 14);
     font-size: 1rem;
     font-family: 'La Belle Aurore', cursive;
     padding: 4px;
     color: beige;
   }
  
    

}


/*.text {
  font-family: 'La Belle Aurore', cursive;
  color:rgb(39, 209, 16);
  font-size: 1.5rem;
}

.tex {
  font-family: 'La Belle Aurore', cursive;
  color: silver;
  font-size: 2rem;
}
  */



.foot {
  width: 100vw;
  background: rgb(9, 14, 14);
   font-size: 3rem;
   font-family: 'La Belle Aurore', cursive;
   padding: 8px;
   color: beige;
 }
 
/* End of Homepage code */

/* Contact Page*/


.contact {
  background-color: rgb(56, 47, 79);
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

/*.container {
  width: 30vw;
 text-align: start;
 padding: 20px;
  background: aliceblue;
  color: blueviolet;
  border: 2px solid blueviolet;
  margin-top: 20px;
  margin-bottom: 10px;
}*/
.contact-us {
  font-size: 1.5rem;
   font-family: 'La Belle Aurore', cursive;
  background-color:burlywood;
  color:  rgb(56, 47, 79);
  width: 40vw;
  height: 60vh;
  margin: 20px 40px 0px 0px;
  border-radius: 10px;
  padding: 20px;
  
}

.link {
  color: rgb(56, 47, 79);
  font-size: 2rem;
}

.link:active {
  color: black;
  font-size: 2rem;
}

.side {
  width: 100%;
  height: 100%;
  background-image: url("./images/va2.jpeg");
  background-repeat: no-repeat;
  background-position: fixed;
  margin-left: 50px;
  margin-top: 100px;

}

/* Contact Page done*/

/* Destination Page On Construction*/

.destination {
  background-color: rgb(56, 47, 79);
  height: 70vw;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.mali {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/ni.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}


.malawi {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/mala1.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: inherit;
}


.kenya {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/nl.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}

.botswana {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/nc.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}


















