

.App {
  text-align: center;
  background: black;
  background-position: top;
 
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
 
  
}

body {
  
  text-align: center;
  
 
 
 
 
}
/*navbar*/
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  background: #0d1521;
  width: inherit;

}

.hes {
  color:crimson;
  font-family: 'La Belle Aurore', cursive;
  font-size: 3rem;
}

.hes::before {
  content: "Ad";
  font-size: 3rem;
  font-family: 'La Belle Aurore', cursive;
  color:yellowgreen;
  display: inline;
}


.navbtn {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 36px;
  margin-right: 1rem;
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.navbtn-line {
  width: 30px;
 height: 2px;
 background-color: yellowgreen;

}

.navebtn {
  object-position: inherit;
}

.nave {
  display: block;
 
}

.nave {
  height: 40%;
  background: black;
  opacity: 0.8;
box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
position: fixed;
padding-top: 0;
top: 10%;
left: 0;
width: 20%;
max-width: 400px;
z-index: 200;
transform: translateX(-100);
transition: transform 2s linear;

}

.nave ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.nave-open {
  transform: translateX(0);

}


.nave-show {
  width: 10rem; 
}

.nave_single_link {
display: flex;
text-decoration: none;
text-transform: capitalize;
font-size: 1.5rem;
transition: all 0.5s linear;
}

.nave a {
  color: crimson;
  text-decoration: none;

}




.nave_single_link:hover{
  color: yellowgreen;
  transition: all 1s linear;
  
}

/* Icons*/
.side-icons {
  font-size: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
margin-top: 10px;
}
.icono {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons {
  padding-left: 2rem;
}

.side-icons :hover {
  color: crimson;
  transition: all 0.5s elinear;
}

.texi {
  font-family: 'La Belle Aurore', cursive;
  color:rgb(39, 209, 16);
  font-size: 2.5rem;
}

/*Construction code of homepage*/

.cover {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

}

.text {
  font-family: 'La Belle Aurore', cursive;
  color:rgb(39, 209, 16);
  font-size: 6rem;
}

.tex {
  font-family: 'La Belle Aurore', cursive;
  color: silver;
  font-size: 4rem;
}

/* Cover  Animations*/

.cover {

  padding-bottom: 30px;
  height: 100%;
  width: 100%;
  background-image: url("./images/namib2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
 animation: move 10s linear 10s infinite;
 -webkit-animation:move 10s linear 10s infinite ;
 -moz-animation:move 10s linear 10s infinite ;
 -ms-animation:move 10s linear 10s infinite ;
 -o-animation:move 10s linear 10s infinite ;
}

@keyframes move {

  0% {
    background-image: url("./images/ghana 7.jpg") ;
   transform: translate(0px,0px);
 }




  15% {
     background-image: url("./images/cam3.jpg") ;
    transform: translate(0px,0px);
  }

  30% {
    background-image: url("./images/va6.jpeg") ;
     transform: translate(0px,0px);
   }
   45% {
    background-image: url("./images/sud2.jpg") ;
     transform: translate(0px,0px);
   }
   55% {
  background-image: url("./images/ghana3.jpg");
  transform: translate(0px, 0px);
   }
    
  60% {
   background-image: url("./images/niga1.jpg") ;
    transform: translate(0px,0px);
  }

  70% {
    background-image: url("./images/va1.jpeg") ;
     transform: translate(0px,0px);
   }

  80% {
    background-image: url("./images/namib3.jpg") ;
     transform: translate(0px,0px);
   }
  
  100% {
    background-image: url("./images/egy5.jpg");
  transform: translate(0px,0px);
    
  }	
}






/* media queries home*/
@media (max-width: 500px) {

  .App {
    background-color: rgb(12, 26, 21);
    width: 100vw;
     
    }

  .cover {

 margin-top:0;
  height: 100vh;
  width:100vw;
  background-image: url("./images/va4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: none;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
    background: #0d1521;
    width: inherit;
  
  }

  .nave {
    display: block;
    font-size: 2rem;
    width: 40%;
  }
  

  .side-icons {
    font-size: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
  } 

 

  .hes {
    color:crimson;
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
  }
  

  .hes::before {
    content: "Ad";
    font-size: 2rem;
    font-family: 'La Belle Aurore', cursive;
    color:yellowgreen;
    display: inline;
  }
  
  
  .text {
    font-family: 'La Belle Aurore', cursive;
    color: crimson;
    font-size: 2rem;
  }

  .tex {
   font-family:  'Verdana', sans-serif;
    color:yellowgreen;
    font-size: 2rem;
  }


  .foot {
    width: 100%;
    background: rgb(9, 14, 14);
     font-size: 1rem;
     font-family: 'La Belle Aurore', cursive;
     padding: 4px;
     color: beige;
   }
  
    

}


/*.text {
  font-family: 'La Belle Aurore', cursive;
  color:rgb(39, 209, 16);
  font-size: 1.5rem;
}

.tex {
  font-family: 'La Belle Aurore', cursive;
  color: silver;
  font-size: 2rem;
}
  */



.foot {
  width: 100%;
  background: rgb(9, 14, 14);
   font-size: 3rem;
   font-family: 'La Belle Aurore', cursive;
   padding: 8px;
   color: beige;
 }
 
/* End of Homepage code */

/* About Page */

.abt {
  background: #0d1521;
  margin-top:0;
  height: 100wh;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.section {
  
  width: 80%;
  color: white;
  font-family:  'Verdana', sans-serif;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 20px;
 margin-right: 5px;

}

.btn {
  margin: 15px;
  
}

.anim {
  height: 60vh;
  width: 100vw;
  background-image: url("./images/nf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-left: 5px;
  animation: wild 10s linear 10s infinite;
   -webkit-animation: wild 10s elinear 10s infinite ;
   -moz-animation: wild 10s linear 10s infinite ;
   -ms-animation: wild 10s linear 10s infinite ;
   -o-animation: wild 10s linear 10s infinite ;
  }
   
  
  @keyframes wild {
  
    0% {
      background-image: url("./images/ken1.jpg") ;
     transform: translate(0px,0px);
   }
  
  
  
  
    15% {
       background-image: url("./images/jam4.jpg") ;
      transform: translate(0px,0px);
    }
  
    30% {
      background-image: url("./images/jam1.jpg") ;
       transform: translate(0px,0px);
     }
     45% {
      background-image: url("./images/cam5.jpg") ;
       transform: translate(0px,0px);
     }
     55% {
    background-image: url("./images/egy4.jpg");
    transform: translate(0px, 0px);
     }
      
    60% {
     background-image: url("./images/nr.jpg") ;
      transform: translate(0px,0px);
    }
  
    70% {
      background-image: url("./images/6.jpg") ;
       transform: translate(0px,0px);
     }
  
    80% {
      background-image: url("./images/cam2.jpg") ;
       transform: translate(0px,0px);
     }
    
    100% {
      background-image: url("./images/ken5.jpg");
    transform: translate(0px,0px);
      
    }	
  }
  
  
  /* About Page media query*/

@media (max-width: 500px) {
  .abt {
    background: #0d1521;
    margin-top:0;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
  }

  .anim {
    display: none;
  }
  
  .section {
    
  word-wrap: none;
    color: white;
    font-family:  'Verdana', sans-serif;
    font-size: 1.5rem;
    padding: 20px;

  }
  
  .btn {
    margin: 15px;
    
  }
    
}



/* Contact Page*/


.contact {
  background: #0d1521;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

/*.container {
  width: 30vw;
 text-align: start;
 padding: 20px;
  background: aliceblue;
  color: blueviolet;
  border: 2px solid blueviolet;
  margin-top: 20px;
  margin-bottom: 10px;
}*/
.contact-us {
  font-size: 1.5rem;
  font-family:  'Verdana', sans-serif;
 
  color: white;
  width: 100%;
  height: 60vh;
  padding: 20px;
  
}
.spacer {
  padding: 20px;
}

.link {
  color: white;
  font-size: 2rem;
}

.link:active {
  color: black;
  font-size: 2rem;
}



/* media queries contact*/
@media (max-width: 500px) {

  .App {
    background-color: rgb(12, 26, 21);
    width: 100vw;
     
    }

.contact {
   height: 100vh;
width: 100vw;
background: #0d1521;
  animation: none;
  }

  .navbar {
    background: rgb(100, 103, 103);
    flex-direction: row;
    width: 100%;
  }

  .nave {
    display: block;
    font-size: 2rem;
    width: 40%;
  }
  

  .side-icons {
    font-size: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
  } 

  .texi {
    font-family: 'La Belle Aurore', cursive;
    color:rgb(39, 209, 16);
    font-size: 1.5rem;

  }
  

  .hes::before {
    content: "Ad";
    font-size: 2rem;
    font-family: 'La Belle Aurore', cursive;
    color:yellowgreen;
    display: inline;
  }
  
  
  .text {
    font-family: 'La Belle Aurore', cursive;
    color: crimson;
    font-size: 2rem;
  }
  .tex {
    font-family: 'La Belle Aurore', cursive;
    color:yellowgreen;
    font-size: 2rem;
  }


  .contact-us  h3{
    text-emphasis: wrap;
    font-size: 2rem;
    font-family:  'Verdana', sans-serif;
    color:  white; 
   
  }

  .spacer {
    padding: 20px;
  }


.link {
  color: white;
  font-size: 20px;
}

  .foot {
    width: 100vw;
    background: rgb(9, 14, 14);
     font-size: 1rem;
     font-family: 'La Belle Aurore', cursive;
     padding: 4px ;
     color: beige;
     margin-bottom: auto;
   }
  
    

}


/* Contact Page done*/

/* Destination Page On Construction*/

.destination {
  background: #0d1521;
  height: 70%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}


.mali {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/ni.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}


.malawi {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/mala1.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: inherit;
}


.kenya {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/nl.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}

.botswana {
  width: 40vw;
  height: 40vh;
  background-image: url("./images/nc.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}



/* media queries Destinations*/
@media (max-width: 500px) {

  .App {
    background-color: rgb(12, 26, 21);
    width: 100vw;
     
    }

.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   height: 100%;
  width: 100vw;
  background: #0d1521;
  animation: none;
  }

  .navbar {
    background: rgb(100, 103, 103);
    flex-direction: row;
    width: 100%;
  }

  .nave {
    display: block;
    font-size: 2rem;
    width: 40%;
  }
  

  .side-icons {
    font-size: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
  } 

  .texi {
    font-family: 'La Belle Aurore', cursive;
    color:rgb(39, 209, 16);
    font-size: 1.5rem;

  }
  

  .hes::before {
    content: "Ad";
    font-size: 2rem;
    font-family: 'La Belle Aurore', cursive;
    color:yellowgreen;
    display: inline;
  }
  
  
  .text {
    font-family: 'La Belle Aurore', cursive;
    color: crimson;
    font-size: 2rem;
  }
  .tex {
    font-family: 'La Belle Aurore', cursive;
    color:yellowgreen;
    font-size: 2rem;
  }



  .mali {
    width: 70vw;
    height: 40vh;
    background-image: url("./images/ni.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
  }
  
  
  .malawi {
    width: 80vw;
    height: 40vh;
    background-image: url("./images/mala1.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
  }
  
  
  .kenya {
    width: 80vw;
    height: 40vh;
    background-image: url("./images/nl.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
  }
  
  .botswana {
    width: 80vw;
    height: 40vh;
    background-image: url("./images/nc.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: inherit;

  }




  .foot {
    width: 100vw;
    background: rgb(9, 14, 14);
     font-size: 1rem;
     font-family: 'La Belle Aurore', cursive;
     padding: 4px;
     color: beige;
   }
  
    

}


/* Stories Route*/

.container2 {
  background: #0d1521;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

}

.tix {
  font-family: 'La Belle Aurore', cursive;
  color:yellowgreen;
  font-size: 3rem;
  padding: 20px;
}

.tiex {
  font-family:  'Verdana', sans-serif;
  color:yellowgreen;
  background: #0d1521;
  font-size: 1rem;
  padding: 8px;
  border-radius: 15px;
  background: #0d1521;
  margin-left: 15px;
  margin-top: 10px;
}


.center {
  font-size: 1.5rem;
  font-family:  'Verdana', sans-serif;
  color: blueviolet;


 
}

.box {
  background: #0d1521;
 
  padding-top: 10px;

}

.tix {
  font-family: 'La Belle Aurore', cursive;
  color:yellowgreen;
  font-size: 3rem;
  padding: 20px;
}

.tiex {
  font-family:  'Verdana', sans-serif;
  color:yellowgreen;
  background: #0d1521;
  font-size: 1rem;
  padding: 8px;
  border-radius: 15px;
  background: #0d1521;
  margin-left: 15px;
  margin-top: 10px;
}


.center {
  font-size: 1.5rem;
  font-family:  'Verdana', sans-serif;
  color: blueviolet;


 
}















